.content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  font-family: Crimson Text;
}
.header{
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 6%;
  line-height: 100%;
}
.infoContent{
  width: 915px;
  text-align: center;
}
.info{
  font-size: 28px;
  line-height: 100%;
  color: #444444;
}
.takeBtn{
  background-color: black;
  padding: 10px;
  color: white;
  width: 382px;
  height: 67px;
  font-size: 36px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
