.mainResult {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    width: 100%;
    max-width: 1100px;
    padding: 25px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative
}

.resultContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 815px;
}
.productTitle{
    font-size: 26px;
    font-family: Crimson Text;
font-weight: 400;
font-style: Regular;
font-size: 26px;
line-height: 100%;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;

}