.mainQuestion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contentQuestion {
    width: 100%;
    max-width: 1100px;
    padding: 25px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative
}

.renderQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 715px;
}
.renderQuestion p{
    font-size: 24px;
    text-align: center;
}
.questionTitle {
    font-size: 46px;
    font-weight: 400;
}

.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
    justify-content: center;
}
.options-container.odd-count-center > div:last-child {
    grid-column: 1 / -1; 
    justify-self: center; 
    width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
}

.btn-choice {
    padding: 10px 20px;
    height: 74px;
    width: 321px;
    cursor: pointer;
    border-radius: 8px;
    margin: 0;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    border: 1px solid #A3A3A3;
    box-sizing: border-box;
    font-size: 22px;
}

.btn-choice:hover {
    border: 1px solid #8B8B8B;
}

input[type="radio"]:checked+.btn-choice {
    background-color: black;
    color: white;
}

input[type="checkbox"]:checked+.btn-choice {
    background-color: black;
    color: white;
}

.textInput{
    padding: 10px;
    height: 55px;
    width:600px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    font-size: 22px;
}

.buttonMainContent {
    display: flex;
    gap: 550px;
    position: absolute; 
    bottom: 25px; 
    width: calc(100% - 300px); 
    padding: 0 25px; 
    box-sizing: border-box;
}

.buttonContent {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buttonContent button {
    font-size: 20px;
    background: none;
}